<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/unautherisedHomePage.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>

  <body style="background-color:#90CCF4;">
    <nav>
      <div class="main">
          <input type="checkbox" name="" id="" />
          <a href="/login">Login</a>
          <a href="/register">SignUp</a>
      </div>
    </nav>
    <div class="container">           
      <h1 class="centreTag"> 
        Secure File Sharing using consolidation of advanced cryptographic algorithms
      </h1>
      <p class="info">
        <!-- It is common for individuals to have a need to exchange information in a
secure and confidential manner. For example, accountants, attorneys, and
medical professionals frequently have a need to send and receive confidential
information to and from their clients. Because standard SMTP email does not
provide a means for encrypting information from the sender’s end to the
recipient’s end of an email transmission, users have sought solutions to use
instead of SMTP email, or in conjunction with SMTP email, for exchanging
information confidentially and securely <br> <br>

Not all people are familiar with message encryption and its techniques. People
who are familiar know that it isn’t a trivial task and chances of wrong
implementation are high. As the world wide web evolved, cloud-based file
sharing services (such as those offered by Citrix® and Dropbox®) have
emerged, which claim to allow users to share files securely. These services
typically allow users to share files via the following procedure: First, the service
allows a sender to upload a file using their web browser to the service’s server
through an SSL/TLS connection. The SSL/TLS connection ensures that the file
is encrypted while in transit from the sender’s web browser to the service’s
server. Then, upon receiving the file at the service’s server, the file is
immediately encrypted by the service using a symmetric encryption algorithm
such as AES, so that the file is encrypted while at rest while stored on the
service’s server. The AES encryption key is also stored by the service. Later,
when the file is requested by the recipient, the service uses the encryption key to
decrypt the file. Then, the service allows the recipient to download the file using
their web browser from the service’s server through an SSL/TLS connection.
The SSL/TLS connection ensures that the file is encrypted while in transit from
the service’s server to the recipient’s web browser.. <br> <br> -->

         <br> <br>
        <br> <br> <br> <br>
        <!-- <img src="static/images/encrpt.png" alt="Encryption" style="margin-left: 20%;"> <br> <br> -->


    </p>
    </div>  -->
  </body>
</html>
